<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <section class="text-left">
        <p class="lead text-muted">Resultado para: {{ termo }}</p>
        <hr class="container" />
      </section>

      <div class="row">
        <div *ngFor="let user of users" class="col-lg-3 col-md-4 col-sm-6 ">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ user.avatar_url }}" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-text">{{ user.login }}</h5>

              <p class="link">{{ user.html_url }}</p>

              <p>Score: {{ user.score }}</p>
              <div class=" justify-content-between align-items-center">

                <app-modal></app-modal>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>