<ng-template #content let-modal>
  <div class="modal-header">
    <img src="https://blog.matcharesident.com/wp-content/uploads/2019/07/iStock-944453634-750x450.jpg" width="300"
      height="300" class="modal-title" />

    <div class="modal-body style">
      <h4>Milena </h4>


      <p class="titulo"><strong>Username:</strong></p>
      <spam>Milena Mello</spam>
      <p class="titulo"><strong>Data de Cadastro:</strong></p>
      <spam>23/03/2009</spam>
      <p class="titulo"><strong>Url:</strong></p>
      <spam>github.com.br/milenamelo</spam>
    </div>



    <div class="modal-body styleL">

      <p class="titulo"><strong>Seguindo:</strong></p>
      <spam>132</spam>
      <p class="titulo"><strong>Seguidores:</strong></p>
      <spam>256</spam>

      <div class="button-close">
        <button type="button" class="btn btn-git" (click)="modal.close('Close click')">
          FECHAR
        </button>
      </div>

    </div>

  </div>






</ng-template>


<button type="button" class="btn btn-lg btn-block btn-primary " (click)="openXl(content)">
  VER MAIS
</button>