.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}

.style p {
  margin-bottom: 0rem !important;
}

.styleL p {
  margin-bottom: 0rem !important;

}

.styleL spam {

  color: #7B6490;
}

.style spam {
  color: #7B6490;

}


.styleL {
  margin-bottom: 0rem !important;
  text-align-last: end;
  margin-top: 40px;
}

.button-close {
  margin-top: 75px;
}

.modal-title {
  border-radius: 10px;
}

.btn-git {
  color: #8c56c2;
  background-color: #fff;
  border: 1px solid #8c56c2;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 500;
}

.btn-git:hover {
  color: #fff;
  background-color: #8c56c2;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-primary:focus {
  color: #fff;
  background-color: #8c56c2;
  border-color: #8c56c2;
  box-shadow: none !important;
}

.titulo {
  padding-top: 10px;
  color: #2F2544;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #8c56c2;
  border-color: #8c56c2;
}
