/* You can add global styles to this file, and also import other style files */

body {
  /** background-image: url("assets/img/background.jpg"); */
  background-color: #f1f1f1;

}


#centro {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -260px;
}
.navbar>.container-fluid{
  display: block!important;
  
  
}

.navbar{
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 4px rgba(47, 37, 68, 0.15);

}

.form-control{
  padding: 1.375rem .75rem;
  border-radius: 4px 0px 0px 4px;
}

.logo{
  float: left;
  margin: 0 15px;
}

.d-flex{
  margin-top: 8px;
}

.btn-outline{
  background: #8C56C2;
  box-shadow: -2px 0px 4px rgb(0 0 0 / 25%);
  border-radius: 0px 6px 6px 0px;
  color: #fff;
  
}

.btn-outline i{
  font-size: 25px;
}

.btn-light {
  color: #8c56c2;
  background-color: #fff;
  border: 1px solid #8c56c2;
  box-sizing: border-box;
  border-radius: 4px;
}
.btn-light:hover {
  color: #fff;
  background-color: #8c56c2;
}

/*resultado*/

.card-body p{
  font-size: 0.9rem;
  margin-bottom: 0rem;

}

.link{
  font-size: 0.4rem;
  font-weight: 500;
  color: #03CADA;
}

.btn-group{
  width: 100%;
  border-radius: 20px;
}
.btn-lg {
padding: .5rem 1rem;
font-size: 1.0rem;
line-height: 1.0;
border-radius: 2.3rem;


}

.btn-primary {
color: #fff;
background-color: #8C56C2;
border-color: #6c3b9c;
margin-top: 15px;
}

.btn-primary:hover {
color: #fff;
background-color: #a975dc;
border-color: #925ec5;
}

.card{
border-radius: .75rem;
}

.card-img-top {

border-top-left-radius: calc(.75rem - 1px);
border-top-right-radius: calc(.75rem - 1px);

}

/*Rodape*/

.footer {

background-color: #fff;
color: #7B6490;
text-align: center;
box-shadow: 0px -4px 4px rgba(47, 37, 68, 0.15);

}


.footer p{
margin-top: 10px;

}