<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a> <img src="assets/img/logo.png" class="logo" height="65"></a>
      <div class="d-flex">
        <input id="username" class="form-control me-2" [formControl]="queryField" type="search" placeholder="Pesquisa"
          aria-label="Search">
        <button class="btn btn-outline" type="submit" (click)="onSearch()">
          <span class="material-icons md-24">search</span></button>
      </div>
    </div>
  </nav>
</header>